
@import "reset.scss";

.wrapper{
    padding: 40px;
}
.content{
    background-color: rgb(46, 64, 82);
    padding: 5%;
}

.content__circle{
    padding: 5%;
    width: 0%;
    background-color: #fff;
    border-radius: 0%;
    position: relative;
    left: 0;
    
    animation: circle-move 3s ease-in-out infinite alternate , circle-color-change 3s linear infinite alternate , circle-shape-change 3s linear infinite alternate ;
    
    animation-play-state: paused;
    
    
}
.content:hover{
    background-color: #222;
    .content__circle{
        animation-play-state:running;
    }
}


@keyframes circle-move{
    0%{
        left: 0%;
    }
    9%{
        left: 0%;
    }
    20%{
        left: -2%;
    }
    80%{left: 92%;}
    91%{left: 90%;}
    100%{left: 90%;}
}

@keyframes circle-shape-change{
    0%{border-radius: 50%;}
    50%{border-radius: 50%;}
    75%{border-radius: 0%;}
    100%{border-radius: 0%;}
}

@keyframes circle-color-change{
    0%{
        background-color: #fff;
    }
    50%{background-color: #fff;}
    100%{
        background-color: red;
    }
}

.button-block {
    padding: 50px;
    display: flex;
    justify-content: center;
}
.btn {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    top:0;
    padding: 20px 60px;
    background-color: rgb(172, 20, 20);
    border-radius: 10px;
    box-shadow: 0 10px 0 rgb(102, 12, 12);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    transition-duration: 0.5s;
    &:hover{
        background-color: rgb(216, 18, 18);
        box-shadow: 0 10px 0 rgb(172, 20, 20);
        transition: all 0.3s ease;
        
    }
    &:active{
        top:5px;
        box-shadow: 0 5px 0 rgb(172, 20, 20);
        transition: all 0.1s ease;
    }
}

.image-block {
    max-width: 1000px;
    margin: 0 auto;
    &>img{
        width: 100%;
    }
    position: relative;
}
.image-fields{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px
    
}
.field {
    display: inline-block;
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px
    
}
.field:hover{
    background-color: rgba(19, 179, 125, 0.3);
}
.field:nth-child(1){
    width: 49%;
    height: 33%;
    left: 1%;
    top: 10%;
}
.field:nth-child(2){
    width: 49%;
    height: 33%;
    left: 50%;
    top: 10%;
}
.field:nth-child(3){
    width: 49%;
    height: 33%;
    left: 1%;
    top: 43%;
}
.field:nth-child(4){
    width: 49%;
    height: 33%;
    left: 50%;
    top: 43%;
}


